<div class="pantallaInvitado">

    <img src="/assets/images/circulito_perfil.png" class="circulitoPerfil" routerLink="/perfil" />
    <span class="mensaje">Bienvenido, usuario.</span>
    <span class="buscador">Busca una fecha.</span>


    <div class="calendario">

        <div class="seleccionar">
            <img src="/assets/images/flecha_izquierda.png" class="flechaIzquierda" />
            <span class="mes">Octubre 2022</span>
            <img src="/assets/images/flecha_derecha.png" class="flechaDerecha" />
        </div>

        <div class="columnas">

            <div class="columna1">
                <span class="lun">LUN</span>
                <span class="lun1">26</span>
                <span class="lun2">3</span>
                <span class="lun3">10</span>
                <span class="lun4">17</span>
                <span class="lun5">24</span>
                <span class="lun6">31</span>
            </div>

            <div class="columna2">
                <span class="mar">MAR</span>
                <span class="mar1">27</span>
                <span class="mar2">4</span>
                <span class="mar3">11</span>
                <span class="mar4">18</span>
                <span class="mar5">25</span>
                <span class="mar6">1</span>
            </div>

            <div class="columna3">
                <span class="mie">MIE</span>
                <span class="mie1">28</span>
                <span class="mie2">5</span>
                <span class="mie3">12</span>
                <span class="mie4">19</span>
                <span class="mie5">26</span>
                <span class="mie6">2</span>
            </div>

            <div class="columna4">
                <span class="jue">JUE</span>
                <span class="jue1">29</span>
                <span class="jue2">6</span>
                <span class="jue3">13</span>
                <span class="jue4">20</span>
                <span class="jue5">27</span>
                <span class="jue6">3</span>
            </div>

            <div class="columna5">
                <span class="vie">VIE</span>
                <span class="vie1">30</span>
                <span class="vie2">7</span>
                <span class="vie3">14</span>
                <span class="vie4">21</span>
                <span class="vie5">28</span>
                <span class="vie6">4</span>
            </div>

            <div class="columna6">
                <span class="sab">SAB</span>
                <span class="sab1">1</span>
                <span class="sab2">8</span>
                <span class="sab3">15</span>
                <span class="sab4">22</span>
                <span class="sab5">29</span>
                <span class="sab6">5</span>

            </div>

            <div class="columna7">
                <span class="dom">DOM</span>
                <span class="dom1">2</span>
                <span class="dom2">9</span>
                <span class="dom3">16</span>
                <span class="dom4">23</span>
                <span class="dom5">30</span>
                <span class="dom6">6</span>

            </div>

        </div>
    </div>

</div>