.pantallaContacto {
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    width: 360px;
    background-color: rgba(183, 196, 207, 1);
}

.txtCuentanos {
    top: 74px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    height: auto;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
}

.txtNombre {
    top: 140px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
}

.inputNombre {
    top: 165px;
    left: 23px;
    height: 25px;
    width: 300px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
}

.txtApellidos {
    top: 225px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
}

.inputApellidos {
    top: 250px;
    left: 23px;
    height: 25px;
    width: 300px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
}

.txtCorreoElectronico {
    top: 310px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
}

.inputCorreoElectronico {
    top: 335px;
    left: 23px;
    height: 25px;
    width: 300px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
}

.txtAsunto {
    top: 400px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
}

.inputAsunto {
    top: 425px;
    left: 23px;
    height: 25px;
    width: 300px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
}

.txtMensaje {
    top: 490px;
    left: 23px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
    font-size: 16px;
}

.inputMensaje {
    top: 515px;
    left: 23px;
    height: 60px;
    width: 300px;
    color: rgba(30, 30, 30, 1);
    position: absolute;
}

.btnRegistrarse {
    top: 600px;
    left: 23px;
    width: 314px;
    height: 38px;
    position: absolute;
}

.logoTransparente {
    top: 615px;
    left: 10px;
    position: absolute;
}