<div class="pantallaContacto">
    <span class="txtCuentanos">Cuéntanos</span>
    <span class="txtNombre">Nombre</span>
    <input type="text" class="inputNombre" required>
    <span class="txtApellidos">Apellidos</span>
    <input type="text" class="inputApellidos">
    <span class="txtCorreoElectronico">Correo electrónico</span>
    <input type="text" class="inputCorreoElectronico">
    <span class="txtAsunto">Asunto</span>
    <input type="text" class="inputAsunto">
    <span class="txtMensaje">Mensaje</span>
    <input type="text" class="inputMensaje">
    <img src="/assets/images/logo_transparente.png" class="logoTransparente" />
    <img src="/assets/images/enviar.png" class="btnRegistrarse" routerLink="/enviado" />
</div>