<div class="pantallaAjustes">
    <img src="/assets/images/circulazo_perfil.png" class="circulazo_perfil" />
    <span class="txtNombreUsuario">Mi cuenta</span>
    <span class="btnCambiarUsuario">Cambiar nombre de usuario</span>
    <span class="btnCambiarContraseña">Cambiar contraseña</span>
    <span class="btnModoOscuro">Modo oscuro</span>
    <span class="txtVersion">Versión</span>
    <span class="txtNombreVersion">Versión preliminar.</span>
    <span class="txtAcercaDe">Acerca de</span>
    <img src="/assets/images/cerrar_sesion.png" class="btnCerrarSesion" routerLink="/bienvenida"/>

    <img src="/assets/images/linea.png" class="linea1" />
    <img src="/assets/images/linea.png" class="linea2" />
    <img src="/assets/images/linea.png" class="linea3" />
    <img src="/assets/images/linea.png" class="linea4" />
    
</div>