<div class="pantallaCrearCuenta">
    <span class="txtCrearCuenta">Crear cuenta</span>
    <span class="txtNombre">Nombre</span>
    <input type="text" class="inputNombre" required>
    <span class="txtApellidos">Apellidos</span>
    <input type="text" class="inputApellidos">
    <span class="txtCorreoElectronico">Correo electrónico</span>
    <input type="text" class="inputCorreoElectronico">
    <span class="txtContraseña">Contraseña</span>
    <input type="text" class="inputContraseña">
    <span class="txtConfirmaContraseña">Confirma la contraseña</span>
    <input type="text" class="inputConfirmarContraseña">
    <img src="/assets/images/logo_transparente.png" class="logoTransparente" />
    <img src="/assets/images/registrarse.png" class="btnRegistrarse" routerLink="/usuario"/>
</div>