<div class="pantalladecrearcuenta-pantalladecrearcuenta">
    <span class="txtCrearCuenta">Crear cuenta</span>
    <span class="txtNombre">Nombre</span>
    <span class="txtApellidos">Apellidos</span>
    <span class="txtCorreoElectronico">Correo electrónico</span>
    <span class="txtContraseña">Contraseña</span>
    <span class="txtConfirmaContraseña">Confirma la contraseña</span>
    <img src="/assets/images/logo_transparente.png" class="logoTransparente" />
    <img src="/assets/images/registrarse.png" class="btnRegistrarse" />
</div>