<div class="pantallaEmpresa">
  <img src="/assets/images/logo_transparente.png" class="logoTransparente" />
  <img src="/assets/images/circulazo_blanco.png" class="circulazo_blanco"/>
  <span class="txtEmpresa">Empresa</span>
  <span class="txtCuerpo">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </span>
  <span class="txtContactaConNosotros">Contacta con nosotros</span>
  <img src="/assets/images/sobre.png" class="sobre" routerLink="/contacto"/>
</div>