<div class="pantallaIniciarSesion">
    <span class="txtIniciarSesion">Iniciar sesión</span>
    <span class="txtCorreoElectronico">Correo electrónico</span>
    <input type="text" name="name" class="inputCorreoElectronico" required>
    <span class="txtContraseña">Contraseña</span>
    <input type="text" name="contraseña" class="inputContraseña" required>
    <span class="btnContraseñaOlvidada">Olvidé mi contraseña</span>
    <img src="/assets/images/entrar.png" class="btnEntrar" />
    <span class="txtConectate">Conéctate</span>
    <img src="/assets/images/logo.png" class="logo" />
</div>