<div class="pantallaConfirmacion" routerLink="/usuario">
  <img src="/assets/images/logo_transparente.png" class="logoTransparente" />
  <span class="pantalladeconfirmacindecontacto-text">Cuéntanos</span>
  <img src="/assets/images/rectangulo.png" class="rectangulo" />
  <div class="texto">
    <span>¡Gracias!</span>
    <br />
    <span>
      Lo leeremos con detenimiento con la máxima celeridad posible. 
      Toca en cualquier parte de la pantalla para salir.
    </span>
  </div>
  <img src="/assets/images/sobre2.png" class="sobre2" />
</div>